<div style="width: 100%; padding-right: 8px; padding-left: 25px;">
    <div>
        <h3 style="text-align: center; color: azure;">Conversation Window</h3>
    </div>

    <div class="justify-content-center"
    style="overflow-anchor: none; border-radius: 20px; width: 100%; padding-top: 20px; padding-bottom: 10px;
    float:right; border-style: groove; background-color: rgba(64,224,208,.8);">

    <div #scrollMe style="overflow: auto; height: 450px;">
    <ng-container *ngFor="let message of messages | async" >

        <div [ngClass]="{ 'from': message.sentBy === 'bot','to': message.sentBy === 'user' }">
            <div style="padding-bottom: 15px;">
                <p *ngIf="message.sentBy === 'user'" style="min-width: 45%; max-width: 70%; border-style: groove; margin-left: 50px; float: right;
                margin-right: 30px; padding: 10px 15px; border-radius: 20px; background-color: aqua;">
                    {{ message.content }}</p>
                <p *ngIf="message.sentBy === 'bot'" style="min-width: 45%; max-width: 80%; border-style: groove; float: left; 
                margin-left: 30px; padding: 10px 15px; border-radius: 20px; background-color: deepskyblue;">
                    {{ message.content }}</p>
                    <br>
            </div>
        </div>

    </ng-container>
    </div>

    <br><br>

    <div style="padding-left: 10px; padding-right: 5px;">
        <input name="message" placeholder="Type your message here...." id="message" 
        style="padding-left: 15px; width:85%; float: left;"
        [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">

        <button class="btn btn-primary" 
        style="width:13%; border-radius: 5px; margin-top: -1px; padding: 2px;
        border-radius: 10px; float: right; " 
        (click)="sendMessage()">
            <i class="fa fa-paper-plane" style="text-align: center;" aria-hidden="true"></i>
        </button>
    </div>

</div>
&nbsp;
<div style="padding-bottom: 30px;">
      <app-speech-to-text></app-speech-to-text> 
</div>
&nbsp;
</div>