<div style="width: 100%;">
  <div class="container" style="margin: auto; text-align: center;">
    <div style="padding-bottom: 5%; padding-top: 10px;">
      <p class="justify-content-center" *ngIf="href === 'Home' || href === '/kernel'"
        style="font-size: 5vw; font-weight: bold;">
        <i class="fas fa-robot"></i> KernelSphere Chatbot <i class="fas fa-robot"></i>
      </p>
      <p class="justify-content-center" *ngIf="href === '/neo'"
        style="font-size: 5vw; font-weight: bold;">
        <i class="fas fa-robot"></i> Neomoment Chatbot <i class="fas fa-robot"></i>
      </p>
    <p class="justify-content-center" style="font-size: 3vw;">
      Languages supported : English & Arabic
    </p>
    <br>

    <nav>
    <ul class="navbar-nav">

      <li class="nav-item" *ngIf="href === 'Home' || href === '/kernel'">
          <button class="btn btn-primary" Button>Ask KernelSphere Chatbot</button>
      </li>
      <li class="nav-item" *ngIf="href === '/neo'">
        <button class="btn btn-primary" Button>Ask Neomoment Chatbot</button>
      </li>
      
    </ul>
    </nav>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>



</div>