<!-- <div style="width: 100%;">
    <div class="container" style="margin: auto; text-align: center;">
        <div class="justify-content-center" style="padding: 100px;">
            <h1>Enter the Chatbot Name</h1>
            <br><br>
            <div class="buttonIn">
                <input type="text" id="name"
                [(ngModel)]="chatbot_name" (keyup.enter)="changeName()" >
                <br><br>
                <button class="btn btn-md btn-primary" type="submit" id="submit"
                (click)="changeName()">Submit</button>
            </div>
        </div>
    </div>
</div> -->

